<p>
  <strong>Name:</strong>
  <%=h @project.name %>
</p>

<p>
  <b>Created at:</b>
  <%= @project.created_at %>
</p>

<b>Log</b>
<pre>
  <%= @project.log %>
</pre>

<%= link_to "HG Clone url", @project.hg_clone_url %><br />

<%= link_to 'Back', collection_url %>
